<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/JonasTodo.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="-yyyy-MM-dd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
  
  <root>
    <level value="INFO" />
    <appender-ref ref="RollingFileAppender" />
  </root>
  
  <!-- Reduce EF Core logging to Warning level -->
  <logger name="Microsoft.EntityFrameworkCore">
    <level value="WARN" />
  </logger>
  
  <logger name="Microsoft.EntityFrameworkCore.Database.Command">
    <level value="WARN" />
  </logger>
  
  <logger name="Microsoft.EntityFrameworkCore.Infrastructure">
    <level value="WARN" />
  </logger>
</log4net>
